@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Nunito';
}



.container{
    width: 1000px;
    margin: auto;
}


.heroContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    height: 500px;
    width: 700px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}


nav li{
    text-decoration: none;
    list-style: none;
    font-size: 25px;    
    font-weight: bold;
    line-height: 60px;
}

nav li a{
    color: rgb(0, 0, 0);
}

nav li a:hover{
    color: rgba(134, 134, 134, 0.6); 
    transition: 0.2s;
}

nav li a.active {
    font-weight:600;
    color: rgba(134, 134, 134, 0.6); 
}



.contentContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.caseStudy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    height: 150px;
}

.caseStudy a{
    color: rgb(0, 0, 0);
}

.caseStudy a:hover{
    color: rgba(134, 134, 134, 0.6); 
    transition: 0.2s;
}

.caseStudy h3{
    font-size: 20px;
    font-weight: 200;
}


.caseStudy-image{
    height: auto;
    width: 400px;
    
}



.caseStudy-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease-in-out;
    border-radius: 8px; 
}

.caseStudy-image:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: 0.2s;
}



.contentContainer-about{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height:50px;
}

.contentContainer-about p{
    margin-bottom: 15px;
}

.contentContainer-project{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: auto;
    gap: 30px;
}

.contentContainer-project img{
    align-self: center;
}

.contentContainer-project h2{
    font-size: 30px;
    font-weight: 700;
}

.contentContainer-project h3{
    font-size: 25px;
}
.contentContainer-project p{
    font-size: 25px;
}



footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}





#topBtn {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.228);
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: opacity 5s;
}

#topBtn:hover {
    background-color: #ebebeb;
}




/* Media Queries */
@media (max-width: 768px) {
    .heroContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title{
        height: 200px;
        width: 700px;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-self: flex-start;

        padding-left: 15px;
    }


    .heroContent{
        flex-direction: column;
        align-items: flex-start;
    }



    .title {
        font-size: 30px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        margin-bottom: 100px;
    }



    .caseStudy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 35px;
        font-weight: bold;
        height: 150px;
    }

    .caseStudy a{
        color: rgb(0, 0, 0);
    }

    .caseStudy a:hover{
        color: rgba(134, 134, 134, 0.6); 
        transition: 0.2s;
    }

    .caseStudy h3{
        font-size: 20px;
        font-weight: 200;
    }


    .caseStudy-image{
        height: auto;
        width: 400px;
        
    }

    .container{
        width: 700px;
        margin: auto;
    }
    




.contentContainer-project img{
    width: 740px;
    height: auto;
}


}


/* Media Queries */
@media (max-width: 480px) {
    .heroContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .title{
        height: 200px;
        width: 480px;
        font-size: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        align-self: flex-start;

        padding-left: 15px;
    }


    .heroContent{
        flex-direction: column;
        align-items: flex-start;
    }



    .title {
        font-size: 30px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        margin-bottom: 100px;
    }



    .caseStudy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 35px;
        font-weight: bold;
        height: 150px;
    }

    .caseStudy a{
        color: rgb(0, 0, 0);
    }

    .caseStudy a:hover{
        color: rgba(134, 134, 134, 0.6); 
        transition: 0.2s;
    }

    .caseStudy h3{
        font-size: 20px;
        font-weight: 200;
    }


    .caseStudy-image{
        height: auto;
        width: 480px;
        
    }

    .container{
        width: 480px;
        margin: auto;
    }
    




.contentContainer-project img{
    width: 480px;
    height: auto;
}


}